.container {display: flex;

justify-content: space-around;

 flex-wrap: wrap;
 
align-items: center;
 flex-wrap: wrap;
margin: auto;
 max-width: 80%;
}

h2 {font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: medium;}

h4 { text-decoration: line-through;
color:  #cccccc
;}

h3 { font-size: small; font-family: monospace; color:  #b3b3b3
    ;}

    h5 {display: flex;
    display: inline;
color: purple;}

.card {border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;}

a .btn { display: inline-block; background-color: white;
color: purple; border-color: rgb(128, 0, 128);
text-decoration: none; border-width: 20px; text-align: center; border-width: thick; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}